@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
:root {
  --background: #f2f0ef;
  --foreground: #171717;
  --placeholderText: #a9a9ac;
  --brandColor: #4384ed;
  --secondaryText: #797b81;
  --borderColor: #afb0b388;
  --dangerColor: #e32510;
  --dangerColorOpaque: #df382527;
  --warningColor: #eecc43;
  --warningColorOpaque: #eecc4326;
  --positiveColor: "#34c759";
  --brandColorOpaque: #4384ed4b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.button {
  @apply bg-(--brandColor) text-white px-6 py-2 rounded-md hover:bg-transparent active:bg-transparent hover:text-(--brandColor) active:text-(--brandColor) border border-(--brandColor) transition-colors;
}
.input {
  @apply border border-(--borderColor) px-4 py-1 rounded-md;
}
